{% extends 'agreapp/index.html' %}

{% block title %}
    Добавить стоматологию
{% endblock%}

{% block content %}
<div class="container-fluid">
        <div class="row">
        {% if form.errors %}
            <h2 class="page-central-text">Упс, что-то пошло не так!</h1>
            <h3 class="page-central-text">Попробуйте снова</h2>
        {% endif %}
        </div>
        <div class="row">
            {% include "agreapp/add_organization_form.html" %}
        </div>
</div>
 {% endblock %}

