{% extends 'base.html' %}

{% block title %}
    Лучшие стоматологии Москвы
{% endblock%}

{% block navitop %}
    {% include "agreapp/navigation_main_block.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header"> 
                            <h4 class="modal-title" id="mySmallModalLabel">Добавьте организацию</h4> 
                        </div>
                        <div class="modal-body">
                            {% include "agreapp/add_organization_form.html" %}                          <!-- /.modal-footer -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include "agreapp/modals_block.html" %}
{% endblock %}
