<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button> 
            <h4 class="modal-title" id="mySmallModalLabel">Добавьте организацию</h4> 
        </div>
          <div class="modal-body">
              <form action="{% url 'agreapp:clinics_add' %}" role="form" method="post">
                  <div class="form-group">
                      <input type="text" class="form-control" 
                             placeholder="Название" 
                             name="name"
                             required>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" 
                             placeholder="Адрес"
                             name="address" 
                             required>
                  </div>

                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" 
                                     placeholder="Город"
                                     name="city" 
                                     required>
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" 
                                     placeholder="Телефон"
                                     name="phone_number" 
                                     required>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" 
                                     placeholder="Метро"
                                     name="metropoliten">
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" 
                                     placeholder="Сайт"
                                     name="website">
                          </div>
                          
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <textarea class="form-control" type="textarea" id="message" 
                                placeholder="Описание" 
                                maxlength="2048" 
                                rows="7"
                                name="description">
                      </textarea>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <span class="input-group-addon">@</span>
                          <input type="text" class="form-control" 
                                 placeholder="*Ваша почта"
                                 name="email" 
                                 required>
                      </div> <!-- /.form-group -->
                  </div>
              </form> <!-- /.checkbox -->
          </div>
          <div class="modal-footer">
              <button class="form-control btn btn-primary">Добавить</button>
          </div> 
              <!-- /.modal-footer -->
      </div>
</div>