{% extends 'base.html' %}

{% block title %}
    Лучшие стоматологии Москвы
{% endblock%}

{% block navitop %}
    {% include "agreapp/navigation_main_block.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid results-list-block">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                {% include "agreapp/add_organization_form.html" %}
            </div>                      
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include "agreapp/modals_block.html" %}
{% endblock %}
