<div class="modal-dialog modal-md">
    <div class="modal-content">
        <form action="{% url 'agreapp:clinics_add' %}" 
              role="form" 
              method="post" 
              class="organization-add-form"
              data-toggle="validator">
            {% csrf_token %}
            <div class="modal-header">
                {% if not on_main_page %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {% endif %}
                <h4 class="modal-title" id="mySmallModalLabel">Добавьте организацию</h4> 
            </div>
              <div class="modal-body">
                      <div class="form-group">
                          <input type="text" class="form-control" 
                                 placeholder="Название" 
                                 name="name"
                                 required
                                 data-minlength="5"
                                 maxlength="128">
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" 
                                 placeholder="Адрес"
                                 name="address" 
                                 required
                                 maxlength="256">
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" 
                                         placeholder="Город"
                                         name="city" 
                                         required
                                         data-minlength="3"
                                         maxlength="64">
                              </div>
                              <div class="form-group">
                                  <input type="text" class="form-control" 
                                         placeholder="Телефон"
                                         name="phone_number"
                                         pattern="^((8|\+7)-?)?\(?\d{3}\)?-?\d{1}-?\d{1}-?\d{1}-?\d{1}-?\d{1}-?\d{1}-?\d{1}$">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" 
                                         placeholder="Метро"
                                         name="metropoliten"
                                         maxlength="128">
                              </div>
                              <div class="form-group">
                                  <input type="url" class="form-control" 
                                         placeholder="Сайт"
                                         name="website"
                                         maxlength="64">
                              </div>
                              
                          </div>
                      </div>
                      
                      <div class="form-group">
                          <textarea class="form-control" type="textarea" id="message" 
                                    placeholder="Описание" 
                                    maxlength="2048" 
                                    rows="7"
                                    name="description">
                          </textarea>
                      </div>
                      <div class="form-group">
                          <div class="input-group">
                              <span class="input-group-addon">@</span>
                              <input type="email" class="form-control" 
                                     placeholder="*Ваша почта"
                                     name="email_approve" 
                                     required>
                          </div> <!-- /.form-group -->
                      </div>
              </div>
              <div class="modal-footer">
                  <button class="form-control btn btn-primary organization-add-form__btn-add">Добавить</button>
                  {% if not on_main_page %}
                    <button type="button" style="display:none" 
                            class="form-control btn btn-primary organization-add-form__btn-close" 
                            data-dismiss="modal" aria-label="Close">
                    Спасибо! Клиника добавлена на рассмотрение | Закрыть
                    </button>
                  {% endif %}
              </div> 
                  <!-- /.modal-footer -->
          </form> <!-- /.checkbox -->
      </div>
</div>