<!-- Modal Add Place Window -->
<div class="modal fade add_place-modal" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
    <div class="modal-dialog modal-md">
        {% include "agreapp/add_organization_form.html" %}
    </div>  
</div>

<!-- Modal Rega End -->



<!-- Modal Auth Window -->
<div class="modal fade auth-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button> 
                <h4 class="modal-title" id="mySmallModalLabel">Вход</h4> 
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="uLogin" placeholder="Ваш Email">
                            <label for="uLogin" class="input-group-addon"><i class="glyphicon glyphicon-user"></i></label>
                        </div>
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" id="uPassword" placeholder="Пароль">
                            <label for="uPassword" class="input-group-addon"> <i class="glyphicon glyphicon-lock"></i></label>
                        </div> <!-- /.input-group -->
                    </div> <!-- /.form-group -->

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Запомнить меня
                        </label>
                    </div>
                </form> <!-- /.checkbox -->
                <div class="modal-footer">
                    <button class="form-control btn btn-primary">Войти</button>
                </div> 
                <!-- /.modal-footer -->
            </div>
        </div>
    </div>  
</div>
<!-- End Modal Auth Window  -->