<div class="container-fluid search-block vertical-center">
    <div class="search-block__wrapper">
        <div class="row">
            <h1 class="search-block__header-one">Поиск лучших стоматологий в Москве <!-- <a class="search-block__city" href="#">Москве</a> --></h1>
        </div>
        <div class="row">
            <h2 class="search-block__header-two">Отзывы и рейтинги о стоматологиях вашего города</h2>
        </div>
        <div class="row">
            <h4 class="search-block_link"> 
                <a href="#">2300 клиник</a> в Москве 
            </h4>
        </div>
        <!-- search inputs -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form class="" 
                      role="form" 
                      method="GET" 
                      action="{% url 'agreapp:clinics_search' %}">
                        <div class="form-group">
                        
                            <div class="row">
                                <div class="col-md-4">
                            <input type="text" 
                                    class="input-lg form-control" 
                                    placeholder="Город"
                                    name="search_city">
                                    
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="text" 
                                                class="input-lg form-control" 
                                                placeholder="Название организации"
                                                name="search_name">
                                <span class="input-group-btn">
                                    <button class="search-block__search_btn btn btn-lg" type="submit">
                                        Найти
                                    </button>
                                </span>
                                            
                                        
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    
                                </div>
                            </div>

                            </div>
                        
    
                </form>
            </div>
        </div>
        <!-- end search inputs -->
        <!-- places near -->
        <div class="row">
            <h4 class="search-block_link">
                <a href="#">
                    <i class="glyphicon glyphicon-map-marker"></i> 
                    Стоматологии рядом
                </a>
            </h4>
        </div>
        <!-- end places near -->
    </div>
</div>