{% block staticfiles %}
    {% load staticfiles %}
{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    {% block meta_tags_base %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block meta_tags_extend %}{% endblock %}
    <!-- end-meta -->
    
    <title>
    {% block title %}{% endblock %}
    </title>

    {% block head_scripts %}{% endblock %}
    {% block head_extra %}{% endblock %}

    <!-- styles -->
    {% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static '/assets/stylesheets/styles.css' %}">
    {% endblock %}
    <!-- end-styles -->
</head>
<body>
    {% block navitop %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block modals %}
    {% endblock %}
    
    <!-- Footer -->
    {% block footer %}
    <footer class="container-fluid footer">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <ul>
                    <li><a  href="#" 
                            data-toggle="modal" 
                            data-target=".add_place-modal">
                        <strong>Добавить организацию</strong>
                        </a>
                    </li>
                    <li><a href="#">Для организаций</a></li>
                    <li><a href="#">Обратная связь</a></li>
                </ul>                
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="#">Для организаций</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
    {% endblock %}
    <!-- End Footer -->
  
    <!-- Begin Scripts -->
    {% block footer_scripts %}
        <script src="{% static '/assets/bower_components/jquery/dist/jquery.min.js' %}" 
                type="text/javascript" charset="utf-8">
        </script>
        <script src="{% static '/assets/javascripts/bootstrap.min.js' %}" 
                type="text/javascript" 
                charset="utf-8">
        </script>
        <script src="{% static '/assets/javascripts/app.js' %}" 
                type="text/javascript" 
                charset="utf-8" async>
        </script>
    {% endblock %}
    <!-- End Scripts -->
</body>
</html>